.container__small-card{
  /*border: solid white 2px;*/
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
width: 10rem;
height: 6rem;
min-height: 6rem;
margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
