<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMLqtT-gKDrYA51Fdhn8PSx1Kl7S5Z2n6iIQ&usqp=CAU"
      cardTitle="Vingadores 3D"
      cardDescription="Filme mais esperado do ano!!!">
    </app-big-card>

  </div>
  <div class="articles-others">
    <app-small-card
      Id="2"
      photoCoverSmall="https://t4.ftcdn.net/jpg/04/95/73/99/360_F_495739993_IJD80fF1POOd7KTyFT4LH7rDzgIpZluo.jpg"
      cardTitleSmall="Mais lançamentos!!!"
    ></app-small-card>

    <app-small-card
    Id="3"
    photoCoverSmall="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYW9xNRb5Wzs_yM_yVxU6YbUwbQUB6rzw-XA&usqp=CAU"
    cardTitleSmall="Novo filme do pantera negra em breve!!!"
    ></app-small-card>

    <app-small-card
    Id="4"
      photoCoverSmall="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp_jh_Q4l47PPsS4dV-NwkAqJntyFstDgxSA&usqp=CAU"
      cardTitleSmall="Filmagens do novo Xmen está em andamento!!!"

    ></app-small-card>
  </div>
</div>


